{% extends "rateapp/base.html" %}
{% load bootstrap4 %}
{% load static%}
{% load crispy_forms_tags %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
{% endblock%}

{% block content %}

<!-- <div class="modal fade" id="VotesForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Vote</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body mx-3">
            <div class="form animated slideInDown">
                            <form action="/projects/{{projects.id}}" method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button class="btn btn-outline-info modal-footer d-flex justify-content-center" type="submit">Submit <i class="fas fa-paper-plane-o ml-1"></i> </button>
                            </form>
                    </div>
    </div>

    </div>
</div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-field">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Login</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Dont have an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        </div>
    </div>
</div>

{% endblock content %}