body{

    overflow-x: hidden;
}



.rates {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50, -50);
    background: #FAFAFA;
}

h3 {
    color: white;
    letter-spacing: 10px;
    width: 500px;
    height: 670px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0.9;
    bottom: 800vh;
    margin-bottom: 50px;
    font-size: 50px;
}

